body{
    text-align: center;
    font-size: large;
}

#head{
    background-image: url(backgrounds/h_img.jpg);
    color: white;
    padding: 10%;
    background-size: cover;
}

#service{
    background-image: url(backgrounds/s_image.jpg);
    color: white;
    padding: 8%;
    background-size: cover;
}

#contact{
    background-image: url(backgrounds/c_image.jpg);
    color: white;
    background-size: cover;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#name{
    background: transparent;
    text-align: center;
    color: white;
}

#email{
    background: transparent;
    color: white;
    
}

#message{
    background: transparent;
    color: white;
    height: 50%;
    margin-top: 15px;
}

textarea:focus{
    color: white;
}

#p-1{
    display: none;
}

#p-2{
    display: none;
}

#p-3{
    display: none;
}

#burned-image {
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
}
#burned-text {
    display: none;
}

#age-image {
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    padding-left: 10px;
}

#age-text {
    display: none;
}

#elexa-image {
    border-style: solid;
    border-color: white;
    padding-bottom: 80px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    padding-left: 10px;
}
#elexa-text {
    display: none;
}

#bailey-image {
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
}
#bailey-text {
    display: none;
}

#jim-image {
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
}
#jim-text {
    display: none;
}

#crystals-image {
    border-style: solid;
    border-color: white;
    padding-bottom: 80px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    padding-left: 10px;
}
#crystals-text {
    display: none;
}

#ontario-image {
    border-style: solid;
    border-color: white;
    padding-bottom: 80px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    padding-left: 10px;
}
#ontario-text {
    display: none;
}

#dark-image{
    border-style: solid;
    border-color: white;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
}
/* #dark-text {
    display: none;
} */
