body{
    text-align: center;
    font-size: large;
}

#head{
    background-image: url(backgrounds/h_img.jpg);
    color: white;
    padding: 10%;
    background-size: cover;
}

#service{
    background-image: url(backgrounds/s_image.jpg);
    color: white;
    padding: 8%;
    background-size: cover;
}

#contact{
    background-image: url(backgrounds/c_image.jpg);
    color: white;
    background-size: cover;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#name{
    background: transparent;
    text-align: center;
    color: white;
}

#email{
    background: transparent;
    color: white;
    
}

#message{
    background: transparent;
    color: white;
    height: 50%;
    margin-top: 15px;
}

textarea:focus{
    color: white;
}

#sign2,#para2, #para3{
    display: none;
}


.mytextimage{
    position: absolute;
    top:50%;
    left:50%;
    display:none;
    border-style: solid;
    border-color:white;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.image1:hover{
    opacity: 0.4;
}
#mytextimage:hover{
    opacity: 0.4;
}

.image1{
    border: 2px solid white;
}
/* #dark-text{
    position: absolute;
    top:50%;
    left:50%;
    display:none;
    border:6px white solid;
} */

/* #ontario-text{
    position: absolute;
    top:50%;
    left:50%;
    display:none;
    border:5px white solid;
} */