body{
    text-align: center;
}

#head{
    background-image: url(backgrounds/h_img.jpg);
    color: white;
    padding: 10%;

}

#service{
    background-image: url(backgrounds/s_image.jpg);
    color: white;
    padding: 10%;
}

